@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MVC Cocktail <i class="fa fa-glass"></i></h1>
    <p class="lead">A collection of hints, tips and best-practice discovered from across the web in a single referencing application.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-5">
                        <i class="fa fa-github fa-5x"></i>
                    </div>
                    <div class="col-xs-7 text-right">
                        <div class="huge">Source Code</div>
                    </div>
                </div>
            </div>
            <a href="https://github.com/simonray" rel="tooltip" data-original-title="Get the source code from github.">
                <div class="panel-footer">
                    <span class="pull-left">Learn more</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>

    <div class="col-md-3 col-md-6">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-5">
                        <i class="fa fa-bullseye fa-5x"></i>
                    </div>
                    <div class="col-xs-7 text-right">
                        <div class="huge">Get Started</div>
                    </div>
                </div>
            </div>
            <a href="http://go.microsoft.com/fwlink/?LinkId=301865s" rel="tooltip" data-original-title="ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that enables a clean separation of concerns and gives you full control over markup for enjoyable, agile development.">
                <div class="panel-footer">
                    <span class="pull-left">Learn more</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>

    <div class="col-md-3 col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-5">
                        <i class="fa fa-download fa-5x"></i>
                    </div>
                    <div class="col-xs-7 text-right">
                        <div class="huge">More Libraries</div>
                    </div>
                </div>
            </div>
            <a href="http://go.microsoft.com/fwlink/?LinkId=301866" rel="tooltip" data-original-title="NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.">
                <div class="panel-footer">
                    <span class="pull-left">Learn more</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>

    <div class="col-md-3 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-5">
                        <i class="fa fa-globe fa-5x"></i>
                    </div>
                    <div class="col-xs-7 text-right">
                        <div class="huge">Web Hosting</div>
                        <div></div>
                    </div>
                </div>
            </div>
            <a href="http://go.microsoft.com/fwlink/?LinkId=301867" rel="tooltip" data-original-title="You can easily find a web hosting company that offers the right mix of features and price for your applications.">
                <div class="panel-footer">
                    <span class="pull-left">Learn more</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
</div>
